canvas {
  width: 100%;
  height: 100%;
  background-color: black;
}

body, html {
  height: 100%;
  margin: 0;
}

#text {
  color: white
}

/* button {
  border-radius: 25px;
  height: 90px;
  width: 290px;
  color: white;
  background-color: red;
  font-size: 28px;
  border: none;
/*   Apply transition to property */
  transition-property: background-color;
/*   Span of time from intial state to final */
  transition-duration: 2000ms;
}

button:hover {
  background-color: purple;
} */
